.button {
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
}

.button__pink{
    color: $color__dc-pink;
    border-color: $color__dc-pink;

    &:hover{
        background-color: $color__dc-pink;
        color: #fff;
    }
}

.button__blue{
    color: $color__dc-blue;
    border-color: $color__dc-blue;

    &:hover{
        background-color: $color__dc-blue;
        color: #fff;
    }
}

.button__big{
    margin: 25px 10px;
}

.button__default {
    padding: 5px 20px;
    
}

.button__small{

}
