.upcoming--object{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.upcoming--image{
    width: 220px;
    height: auto;
    float: left;
    margin-right: 20px;
    box-shadow: 0px 24px 22px 0px rgba(0,0,0,0.13);
}

.upcoming__title{
    font-size: 28px;
    color: $color__dc-pink;
    margin-bottom: 10px;
}

.upcoming__blurb{
    min-height: 81px;

    p {
        margin-top: auto;
    }
}

.upcoming__date{
    display: inline;
}

.upcoming__time{
    display: inline;
    margin-left: 10px;
}

.upcoming__action--buttons {
    display: block;
    margin-top: 10px;
}

.upcoming__cta{

}

.upcoming--join{
    
}

.upcoming--readmore{
    margin-left: 10px;
}

.quote-container {
    background-image: url(http://localhost:8888/eXchange/wp-content/themes/dc_exchange/images/hangout-quote.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.quote__text {
    font-family: "Cairo", sans-serif;
    font-size: 1.4em;
    margin: 0;
}

.quote__author {
    margin-bottom: 0px;
    font-family: Roboto-Light;
    font-size: 16px;
    color: #d0d0d5;
}